<!DOCTYPE html>
<html lang="en">
<%- include("header"); %>
<body>
  <!-- Start your project here-->  
  <%- include("menu"); %>
  <!-- Jumbotron -->
  <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/forest2.jpg);">
    <div class="text-white text-center rgba-stylish-strong py-5 px-4">
      <div class="py-5">

        <!-- Content -->
        <h5 class="h5 orange-text"></i> Welcome</h5>
        <h2 class="card-title h2 my-4 py-2">My Online Judge</h2>
        <p class="mb-4 pb-2 px-md-5 mx-md-5">프로그래밍 문제를 풀고 코드를 제출할 수 있는 대회, 학습용 사이트입니다.</p>
        <a class="btn peach-gradient" href="/api/problem"><i class="fas fa-clone left"></i> View Problem</a>
      </div>
    </div>
  </div>
  <!-- Jumbotron -->

  <!-- End your project here-->
  <%- include("footer"); %>

</body>
</html>